{% extends 'base.html.twig' %}

{% block title %}Welcome page{% endblock %}

{#<div class="container">#}
    {#{% block body %}#}
    {#{% include 'navigation.html.twig' %}#}
{#{% endblock %}#}
{#</div>#}

